@using ToDoApp.Shared.Dtos
@model List<TaskDto>

@{
    ViewData["Title"] = "Home Page";
}

<div style="max-width: 1024px;margin: auto;">

    <div class="d-flex justify-content-center align-items-center" style="height: 48vh;flex-wrap: wrap;gap: 12px">
        @if (Model.Count > 0)
        {
            @foreach (var task in Model)
            {
                <div class="card-body"
                    style="width: 300px;height: 150px;border: 1px solid #ccc; padding: 12px;border-radius: 12px;">
                    <h5 class="card-title">@task.Title</h5>
                    <p class="card-text">Created at: @task.CreatedAt</p>

                    <form method="post" asp-controller="Home" asp-action="DeleteTask" class="d-flex justify-content-end">
                        <input type="hidden" name="taskId" value="@task.Id" />
                        <button type="submit" class="btn btn-success">Concluir</button>
                    </form>

                </div>
            }
        }
        else
        {
            <p>No tasks available.</p>
        }
    </div>

</div>